# http://editorconfig.org
root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{y{a,}ml,json{c,},toml,css,s{a,c}ss,styl,html,{,z}sh,js{x,},ts{x,}}]
indent_size = 2

[*.{md,txt,org}]
indent_style = space
indent_size = 4
max_line_length = 0
trim_trailing_whitespace = false

[{Makefile,gitconfig}]
indent_style = tab

[COMMIT_EDITMSG]
max_line_length = 0
