# shellcheck shell=bash
export VIRTUAL_ENV="$PWD/.venv"
layout python python3.13

# So we can run scripts from top level and in sub directories
export PYTHONPATH="$PWD/src"

# https://docs.python.org/3/library/devmode.html
export PYTHONDEVMODE="1"
