matplotlib~=3.5.2
pandas~=1.4.2
pandarallel~=1.6.1
prophet==1.0.1
pymc~=4.0.0
scipy~=1.7.3
statsmodels~=0.13.2
# Data collection
yfinance~=0.1.70
# Model persistance
cloudpickle~=2.1.0
# Dev
yapf~=0.32.0